<h1>Listing games</h1>

<table>
  <thead>
  <tr>
    <th>Name</th>
    <th colspan="3"></th>
  </tr>
  </thead>

  <tbody>
  <% @games.each do |game| %>
      <tr>
        <td><%= game.name %></td>
        <td><%= game.updated_at %></td>
        <td><%= link_to 'Show', game %></td>
        <td><%= link_to 'Edit', edit_game_path(game) %></td>
        <td><%= link_to 'Destroy', game, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
  <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Game', new_game_path %>



<div class="channel-main">
  <script type="text/javascript" src="http://staticlive.douyutv.com/common/js/jquery.tinyscrollbar.min.js"></script>

  <%= render "shared/left_column" %>



  <div class="expandRight column" id="main_col">
    <div class="content">
      <div id="elem-mimiko-test" class="stretch js-columns-scroll scroll" style="top: 0px; bottom: 0px; visibility: visible;">
        <div class="tse-scroll-content" style="right: 0px; width: 1340px; height: 979px;">
          <div class="tse-content" style=" padding-right:0px;">
            <div class="player_column">
              <div class="editable editable01" id="broadcast_meta">
                <div class="info" style="padding-left:0;">
                  <div class="title"> <span class="real_title js-title">热门游戏</span> </div>
                </div>
              </div>
              <div class="items items01 clearfix" id="item_data"><ul>

                <% @games.each do |c| %>

                    <li class="unit"><a  href="<%=  game_url c %>" class="thumb" title="<%=  c.name %>"><img class="preview" src="<%=  c.image %>" />
                    </a> <a  href="<%=  game_url c %>" class="title"><%=  c.name %></a></li>


                <% end %>


              </ul></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


