

<div class="channel-main">
  <script type="text/javascript" src="http://staticlive.douyutv.com/common/js/jquery.tinyscrollbar.min.js"></script>

  <%= render "shared/left_column" %>



  <div class="expandRight column" id="main_col">
    <div class="content">
      <div id="elem-mimiko-test" class="stretch js-columns-scroll scroll" style="top: 0px; bottom: 0px; visibility: visible;">
        <div class="tse-scroll-content" style="right: 0px; width: 1340px; height: 979px;">
          <div class="tse-content" style=" padding-right:0px;">
            <div class="player_column">
              <div class="editable editable01" id="broadcast_meta">
                <div class="info" style="padding-left:0;">
                  <div class="title"> <span class="real_title js-title"><%= @game.name %></span> </div>
                </div>
              </div>
              <div class="items items01 clearfix" id="item_data"><ul>

                <% @channels.each do |c| %>
                    <li><a href="<%=  c.link %>" target='_blank' class="list" title="<%=  c.title %>"><span class="img"><img src="<%=  c.image %>" onerror="this.src='http://staticlive.douyutv.com/upload/web_pic/default2_thumb.gif'; this.onerror = null;" width="320" height="180"/></span>
                      <div class="mes">
                        <h1 class="title"><%=  c.title %></h1>
                        <p class="moreMes"><span class="view"><%=  c.viewers %></span><span class="nnt"><%=  c.player %></span><span class="zbName"><em><%=  c.source %></em></span></p>
                      </div>
                      <i class="icon_live">正在直播</i> </a>
                    </li>
                <% end %>


              </ul></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
